{% extends "base.html.jinja" %}
{% block title %}
Autor projektu
{% endblock title %}
{% block content %}
    <p>Damian Karpiel, 1 rok informatyka ekonomiczna, Akademia Nauk Stosowanych w Nowym Targu.</p>
{% endblock content %}